/******************************/
/*******    GENERAL    ********/
/******************************/

html {
    font-size: 62.5%; 
    scroll-behavior: smooth;
}

* { box-sizing: border-box; }

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

#particles-js {
    background-color: #ffffff;
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:-1; 
}





/*******************************/
/********    NAVBAR    *********/
/*******************************/

.nav {
    display: flex;
    flex-direction: row;
    position: fixed;
    height: 8rem;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    justify-content: space-between;
    align-items: center;
    background:inherit;
}

.nav-header {
    display: inline;
    margin-left: 4rem;
}

.nav-header a {
    font-size: 3rem;
    display: inline;
    text-transform: lowercase;
    color: #000000;
    text-decoration: none;
}

.nav-links {
    display: inline;
    margin-right: 2rem;
}

.nav-link {
    display: inline-block;
    position: relative;
    text-decoration: none;
    text-transform: lowercase;
    font-size: 2.2rem;
    padding: 2rem 0;
    margin: 0 2rem;
    color: #000000;
}

.nav-link::before {
    transition: 300ms;
    height: .5rem;
    content: "";
    position: absolute;
    background-color: #ff0000;
    width: 0%;
    bottom: 1rem;
}

.nav-link:hover::before {
    width: 100%;
}

.nav-link.active-page::before {
    transition: 300ms;
    height: .5rem;
    content: "";
    position: absolute;
    background-color: #ff0000;
    width: 100%;
    bottom: 1rem;
}


/********************************/
/**    NAVBAR TOGGLE BUTTON    **/
/********************************/

.toggle-button {
    position: absolute;
    top: 2.25rem;
    right: 3.5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 3rem;
    height: 2.5rem;
}

.toggle-button .bar {
    height: .3rem;
    width: 100%;
    border-radius: 1rem;
    background-color: #000000;
}





/******************************/
/***    MAIN BODY STYLES    ***/
/******************************/

h1 {
    font-size: 6rem;
}





/***************************/
/*******    HOME    ********/
/***************************/

.home {
    margin-top: 8rem;
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #000000;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.home-text {
    text-align: center;
    font-size: 3vw;
    margin: 0 15% 7.5rem 15%;
}





/*******************************/
/*******    PROJECTS    ********/
/*******************************/

.projects {
    margin-top: 8rem;
    height: 90vh;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000000;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}

.project-text {
    text-align: center;
    font-size: 3vw;
    margin: 4vh 15% 0 15%;
}





/******************************/
/*******    CONTACT    ********/
/******************************/

.contact {
    margin-top: 8rem;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000000;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.contact-text {
    text-align: center;
}


/*******************************/
/*****    CONTACT FORM    ******/
/*******************************/

.form-container {
    padding: 0 2rem;
    width: 75vw;
    margin-top: 5vh;
    margin-bottom: 9vh;
}

form .error {
    color: #ff0000;
}

input[type=text], textarea {
    width: 100%;
    padding: 1.2rem;
    border: 1px solid #000000;
    border-radius: 5px;
    resize: vertical;
}

textarea {
    height: 20rem;
    font-family: 'Open Sans', sans-serif;
}
  
label {
    padding: 1.2rem 1.2rem 1.2rem 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #ff0000;
    color: white;
    padding: 1.2rem;
    width: 20%;
    border: none;
    border-radius: 5px;
    float: right;
    -webkit-appearance: none;
}

input[type=submit]:hover {
    background-color: #fd5252;
}

.col-20 {
    float: left;
    width: 20%;
    margin-top: .6rem;
    font-size: 2.5rem;
}

.col-80 {
    float: right;
    width: 80%;
    margin-top: 1.5rem;
}

.form-row:after {
    content: "";
    display: table;
    clear: both;
}





/*******************************/
/***    MOBILE-RESPONSIVE    ***/
/*******************************/

@media (max-width: 768px) {
    .nav {
        height: 7rem;
        flex-direction: column;
        align-items: flex-start;
        background: #000000;
    }

    .nav-header {
        margin-top: 1.5rem;
        margin-left: 3.5rem;
        align-self: start;
    }

    .nav-header a {
        color: #ffffff;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        margin-top: 1.25rem;
        width: 100%;
        text-align: center;
        background-color: #000000;
        color: #ffffff;
    }

    .nav-links a {
        padding: 1.25rem;
        background-color: #000000;
        color: #ffffff;
    }

    .nav-links a:hover {
        background: #ffffff;
        color: #000000;
    }

    .nav-link {
        margin: 0;
    }

    .nav-link:hover::before {
        width: 0%;
    }
    
    .nav-link.active-page::before {
        width: 0%;
    }

    .toggle-button {
        display: flex;
    }
    
    .toggle-button .bar {
        background-color: #ffffff;
    }

    .home {
        margin-top: 7rem;
    }

    .home-text {
        font-size: 3vh;
        display: flex;
    }

    .project {
        margin-top: 7rem;
        height: 92vh;
    }

    .project-text {
        font-size: 3rem;
    }

    .contact {
        margin-top: 7rem;
        height: 105vh;
    }

    .form-container {
        width: 80vw;
    }

    .contact-text {
        margin: 7.5vh 15% 2.5vh 15%;
        font-size: 3rem;
    }

    .col-20, .col-80 {
        width: 100%;
        margin-top: 0;
    }

    input[type=submit] {
        width: 100%;
        margin-top: 1.2rem;   
    }
}