/******************************/
/*******    GENERAL    ********/
/******************************/

html {
    font-size: 62.5%; 
    scroll-behavior: smooth;
}

* { box-sizing: border-box; }

body {
    margin: 0;
    padding: 0;
    font-family: "SF Pro Text", "Helvetica", "Arial", sans-serif;
    background: #dce0e6;
    background: -webkit-linear-gradient(to top, #a8edea, #fed6e3);
    background: linear-gradient(to top, #a8edea, #fed6e3);
}



/*******************************/
/********    NAVBAR    *********/
/*******************************/

.nav {
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    color: white;
    flex-shrink: 2;
}

.nav-header {
    font-size: 4rem;
    margin: 1.25rem 1.75rem 1.25rem 4rem;
    text-transform: lowercase;
}

.nav-header a {
    color: #ffffff;
    text-decoration: none;
}

.nav-links ul {
    display: flex;
    margin: 0;
    padding: 0;
    margin-right: 3rem;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    display: block;
    text-decoration: none;
    text-transform: lowercase;
    font-size: 2.2rem;
    padding: 2.35rem 2rem;
    color: #ffffff;
}

.nav-links li a:hover {
    background: #ffffff;
    color: #000000;
}

/********************************/
/**    NAVBAR TOGGLE BUTTON    **/
/********************************/

.toggle-button {
    position: absolute;
    top: 2.25rem;
    right: 3rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 3rem;
    height: 2.1rem;
}

.toggle-button .bar {
    height: .3rem;
    width: 100%;
    border-radius: 1rem;
    background-color: #ffffff;
}



/******************************/
/***    MAIN BODY STYLES    ***/
/******************************/

.main {
    margin-top: 6.5rem;
}

h1 {
    font-size: 6rem;
}



/***************************/
/*******    HOME    ********/
/***************************/

.home {
    display: flex;
    flex-direction: row;
    color: #000000;
    background: #ffffff;
    background: #C9D6FF;
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);
    background: linear-gradient(to right, #E2E2E2, #C9D6FF);
}

.home-text {
    text-align: center;
    font-size: 3vw;
    margin: 31rem 15%;
}



/*******************************/
/*******    PROJECTS    ********/
/*******************************/

.projects {
    display: flex;
    flex-direction: row;
    height: 73.5rem;
    color: #ffffff;
    background-color: #000000;
}

.project-text {
    text-align: center;
    background: #ffffff;
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);
    background: linear-gradient(to right, #E2E2E2, #C9D6FF);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}



/******************************/
/*******    CONTACT    ********/
/******************************/

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #000000;
    background: #C9D6FF;
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);
    background: linear-gradient(to right, #E2E2E2, #C9D6FF);
}

.contact-text {
    align-self: center;
    margin-top: 10rem;
}

/*******************************/
/*****    CONTACT FORM    ******/
/*******************************/

.form-container {
    border-radius: 5px;
    background: #f2f2f2;
    padding: 2rem;
    margin: 0 20% 15rem 20%;
}

form .error {
    color: #ff0000;
}

input[type=text], textarea {
    width: 100%;
    padding: 1.2rem;
    border: 1px solid #cccccc;
    border-radius: 5px;
    resize: vertical;
}

textarea {
    height: 20rem;
    font-family: "SF Pro Text", "Helvetica", "Arial", sans-serif;
}
  
label {
    padding: 1.2rem 1.2rem 1.2rem 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 1.2rem;
    width: 20%;
    border: none;
    border-radius: 5px;
    float: right;
    -webkit-appearance: none;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.col-20 {
    float: left;
    width: 20%;
    margin-top: .6rem;
    font-size: 1.5rem;
}

.col-80 {
    float: right;
    width: 80%;
    margin-top: .6rem;
}

.form-row:after {
    content: "";
    display: table;
    clear: both;
}



/*******************************/
/***    MOBILE-RESPONSIVE    ***/
/*******************************/

@media (max-width: 768px) {
    h1 {
        font-size: 3rem;
    }

    .toggle-button {
        display: flex;
    }

    .nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav .nav-links {
        width: 100%;
        display: none;
    }

    .nav-links ul {
        width: 100%;
        flex-direction: column;
        margin-right: 0;
    }

    .nav-links li {
        text-align: center;
    }

    .nav-links li a {
        padding: 1.25rem;
    }

    .nav-links.active {
        display: flex;
    }

    .home-text {
        font-size: 3rem;
        margin: 22.5rem 15%;
    }

    .contact-text {
        align-self: center;
        margin-top: 12.5rem;
    }

    .form-container {
        margin: 0 5rem 17.5rem 5rem;
    }

    .col-20, .col-80 {
        width: 100%;
        margin-top: 0;
    }

    input[type=submit] {
        width: 100%;
        margin-top: 1.2rem;   
    }
}